@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* js */
#dt1.active {
  background-color: transparent;
}
#dt2.active {
  background-color: #7a9299;
}
#dt3.active {
  background-color: #7a9299;
}
#dt4.active {
  background-color: #7a9299;
}
#dt5.active {
  background-color: #7a9299;
}
#dt6.active {
  background-color: #7a9299;
}

* {
  padding: o;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, Helvetica, sans-serif;
}

.scroll-carousel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 210px;
  width: 40px;
  background-color: #ffff;
  margin: auto;
  border: 1px solid rgba(20, 39, 54, 0.25);
  border-radius: 4px 0 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.elements {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid #7a9299;
}
#dt1 {
  background-color: #7a9299;
}

/* HEADER */

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffff;
  z-index: 999;
}
.wrapper ul {
  display: flex;
}
.wrapper ul li {
  list-style: none;
  padding: 20px;
  padding-left: 5px;
}
.wrapper img {
  width: 100px;
  height: 45px;
  border-right: 1px solid lightgray;
}
.wrapper ul li a {
  font-size: 12px;
  color: gray;
  text-decoration: none;
}
/* ______________________________________________________________________________________________________________ */

.stories {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.stories-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stories-img-container img {
  width: 300px;
  height: 300px;
  border-radius: 16px;
  object-fit: cover;
  position: relative;
  left: 300px;
}

.img-kulay {
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 27px;
  background-color: #ff4500;
}

.stories-container-content h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 43px;
  margin-bottom: 41px;
}

.stories-container-content p {
  font-size: 18px;
  line-height: 26px;

  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  margin-bottom: 50px;
}

.stories {
  background-color: #f1f5f6;
  padding: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stories-container button {
  color: #ffff;
  border: none;
  border-radius: 19.5px;
  text-transform: none;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  background-color: #ff4500;
  font-size: 13px;
  line-height: 1;
  padding: 12px 38px;
  font-weight: 700;
  border: 1px solid #ff4500;
}
.reach:hover {
  background-color: #ffff;
  cursor: pointer;
  transition: 1000ms;
}
.stories-container {
  display: flex;

  align-items: center;
}
.stories-container button:hover {
  color: #ff4500;
}
.stories-container-content p {
  width: 50%;
}

/* ______________________________________________________________________________________________________________ */
.grabittum {
  height: 610px;
  background-color: #ffff;
}
.grabbitum-container {
  padding-left: 5rem;
  padding-right: 15px;
  max-width: 972px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#zero {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  width: 500px;
  padding-left: 40px;
}
#panga {
  font-size: 14px;
  color: #000;
  line-height: 1.43;
  text-align: center;
  padding-left: 250px;
}
#una {
  font-size: 40px;
  display: block;
  margin-top: 100px;
  margin-bottom: 16px;
  padding-left: 50px;
}
.wrapper-container h1 {
  color: #ff4500;
  font-size: 40px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 80px;
}
/* grabbit in press */
.prez {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #f2f6f7; */
  padding-bottom: 5rem;
}
.imgs-bx4-container {
  width: 100%;
  height: 60%;
}
.imgs-bx4-container img {
  width: 100%;
  height: 100%;
}
.prez-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
 
}
@media screen and (max-width:769px){
  .prez-container{
    width:70%;
  }
}

.bx4-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 1rem;
}
.box4 {
  width: 481px;
  height: 431px;
  background: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  
}

.logo-journal img {
  position: relative;
  left: 16px;
  top: 20px;
}
.Press-container h1 {
  font-size: 2.5rem;
  padding-top: 50px;
  padding-bottom: 50px;
}
.box4 a {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.2rem;
}

.boxone {
  background-color: #ffff;
  width: 177px;
  border: 1px solid #cbcdce;
  padding: 30px 11px 25px 38px;
  margin: 20px;
  border-radius: 4px;
  justify-content: center;
}
.boxone p {
  font-size: 14px;
  padding-top: 20px;
}
.boxone i {
  font-size: 16px;
  line-height: 16px;
  display: block;
  min-height: 24px;
  margin-bottom: 9px;
  color: #ff4500;
}

/* section prez */
.prez-container {
  display: flex;
}
.prez-container a {
  text-decoration: none;
  color: black;
}
#nice {
  /* background-color: #d2dddf; */
  margin-right:100px;
}
#nices{
  margin-right:9rem;
}


/* Yung mahirap na part */

.Viewmo {
  border-radius: 20px;
  width: 200px;
  height: 35px;
  background-color: #ff4500;
  color: #ffff;
  border: none;
}
.Viewmo:hover {
  background-color: #ffff;
  color: #ff4500;
  cursor: pointer;
  transition: 1000ms;
}

/* Grabbit Executive team */
.Exe {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Executive-team-container h1 {
  padding-top: 80px;
  padding-bottom: 70px;
  font-size: 2.5rem;
}
.Execu-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem 1.5rem;
  margin-left:8rem;
}
.Exe a {
  text-decoration: none;
  color: black;
}
.box12 {
  background-color: #ffff;
  height: 345px;
  width: 240px;
  /* border: 1px solid #cbcdce;
  border-radius: 4px; */
  text-decoration: none;
}
.box12 h1{
    color:orangered;
}
.image-natinto {
  width: 100%;
  height: 70%;

  margin-bottom: 1rem;
}
.image-natinto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imagenatinto-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.boxz1 {
  font-weight: 700;
}
.morepa {
  font-weight: 700;
  color: #0079d3;
}

/* hati */

.Displaying {
  background: #d2dddf;
  padding: 60px;
  margin-top: 5rem;
  width:100%;
  display:flex;
  flex-direction: column;
}
.displaying-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.displaying-con h1 {
  font-size: 2.5rem;
}
.displaying-con p {
  font-family: poppins;
  width: 50%;
}
.button3 {
  border-radius: 20px;
  width: 200px;
  height: 35px;
  background-color: #ff4500;
  color: #ffff;
  border: none;
}
.button3:hover {
  background-color: #ffff;
  color: #ff4500;
  cursor: pointer;
  transition: 1000ms;
}

/* Media  */
.Media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Media-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  text-align: center;
  gap: 2rem;
}
.Media-con p {
  font-family: poppins;
  width: 80%;
}
.Media-con h1 {
  font-size: 2.5rem;
}
.button4 {
  border-radius: 20px;
  width: 200px;
  height: 35px;
  background-color: #ff4500;
  color: #ffff;
  border: none;
}
.button4:hover {
  background-color: #ffff;
  color: #ff4500;
  cursor: pointer;
  transition: 1000ms;
}

/* Span date recent blog posts */
#date {
  font-size: 14px;
  font-weight: 300;
  padding-left: 19rem;
}
/* id sa box4 */
#blogz {
  width: 481px;
  height: 350px;
  background: #ffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
}

/* FOOTER */
.footer {
  width:100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7a9299;
  font-size: 14px;
}
.footer-top div:nth-child(2) {
  border-right: 1px solid lightgray;
}
.footer-top div:nth-child(3) {
  border-right: 1px solid lightgray;
  font-weight: 700;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 77px;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-top div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.footer-top div a {
  padding: 20px;
  color: #ffff;
  text-decoration: none;
}
.User-container a {
  color: #ffff;
}
.User-container a:hover {
  color: #ffff;
  text-decoration: none;
}
.license-container a:hover {
  text-decoration: none;
  color: #ffff;
}
.license-container a {
  color: #ffff;
}
.license-container {
  color: #ffff;
}

@media screen and (max-width: 950px) {
  .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 77px;
    
  }
}

/* ______________________ */

@media screen and (max-width: 1020px) {
  .bx4-container {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width:100%;
  }
  .box4 a{
    font-size:14px;
  }
  .box4 {
    width: 100%;
    height: 330px;
    background: #ffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
    
  }
  }


  /* __________ */
  #nice{
    margin-left:10rem;
  }



  @media screen and (max-width:1200px){

    .boxone i {
      font-size: 12px;
      line-height: 12px;
      display: block;
      min-height: 24px;
      margin-bottom: 9px;
      color: #ff4500;
    }
    .boxone h1{
      font-size:18px;
    }
    
    
    .stories{
      background-color:#ffff;
    }
    .grabbitum{
      background-color:#ffff;

    }
    .prez{
      background-color:#ffff;

    }
    /* #nice{
      background-color:#ffff;

    } */
    .Execu-con {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-gap: 3rem 1.5rem;
      margin-left:15rem;
    }
    .boxone {
      background-color: #ffff;
      width: 200px;
      border: 1px solid #cbcdce;
      padding: 30px 11px 25px 38px;
      margin: 20px;
      border-radius: 4px;
      justify-content: center;
    }
    .Displaying{
      background:#ffff;
      display:flex;
      flex-direction: row;
      width:100%;
    }
    .displaying-con{
      margin-left:150px;
    }
    .Media-con{
      margin-left:300px;
    }
    .Executive-team-container{
      margin-left:150px;
    }

    .footer{
      background-color:#ffff;
      margin-left: 170px;

    }
    .footer-top div a {
      padding: 20px;
      color: black;
      text-decoration: none;
    }
    .User-container a {
      color: black;
    }
    .User-container a:hover {
      color: #ffff;
      text-decoration: none;
    }
    .license-container a:hover {
      text-decoration: none;
      color: #ffff;
    }
    .license-container a {
      color: black;
    }
    .license-container {
      color: black;
    }
  }
  

  @media screen and (max-width:699px){
    #nices{
      width:60%;
    }
  }
  @media screen and (max-width:480px){
    #nices{
      width:50%;
    }
  }
  @media screen and (max-width:320px){
    #nices{
    width:30%;
    }
  }



  .er{
       
    border-radius:40px;
      border:1px solid grey;
      /* color:transparent; */
      width:500px;
      height:80px;
      font-weight: 600;
      font-size: medium;
      
  }
  .ers{
      
        border-radius:40px;
        border:1px solid;
        background-color:orangered;
        color:#ffff;
        width:150px;
        height:80px;
        margin-top:1rem;
        margin-bottom:3rem;
        cursor:pointer;
        font-weight: 600;
        font-size: medium;

    }

    .ers:hover{
        background-color: #ffff;
        color:orangered;
    }
 
 
    @media screen and (max-width:540px){
     .er{
         width:50%;
         
     }

 }
